'on':
  push:
    branches: 
     - "**"
  schedule:
    - cron: 0 14 * * *
name: broken links?
jobs:
  linkChecker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Link Checker
        id: lc
        uses: lycheeverse/lychee-action@v2
        with:
          args: --insecure --base-url . --verbose --no-progress './**/*.md' './**/*.html'  --accept 200,204,206 --user-agent 'Mozilla/5.0 (Windows Phone 10.0; Android 6.0.1; Microsoft; RM-1152) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/52.0.2743.116 Mobile Safari/537.36 Edge/15.15254' 
      - name: Fail?
        run: 'exit ${{ steps.lc.outputs.exit_code }}'
